html,
body {
  font-family: var(--font-family-primary);
  font-size: 62.5%;

  min-width: 100%;
  margin: 0 auto;
}

.section {
  max-width: 1260px;
  padding: 24px 0;

  @media (min-width: 768px) {
    padding: 32px 24px;
  }

  @media (min-width: 1260px) {
    padding: 64px 45px;
  }
}
.hidden {
  display: none;
}
